@import "variables";
@import "mixins";

html,
body {
// 	position: fixed;
	margin: 0;
	padding: 0;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #fcfbf9;
	color: #222;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
#main-scrollbar{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	opacity: 0;
	filter:blur(5px);
	background: #fcfbf9;
	pointer-events: none;
	transform:scale(1.01);
	transition: filter $ease 1s, -webkit-filter  $ease 1s, opacity $ease 1s, transform $ease 1s;
}
.loaded{
	#main-scrollbar{
		pointer-events: all;
		opacity: 1;
		filter:blur(0);
		transform: scale(1);
	}
}
#admin_bar_iframe{
	display:none!important;
}
::selection {
	color: white;
	background: black; 
}
::-moz-selection {
	color: white;
	background: black; 
}
#grid{
	position: fixed;
	top:0;
	left: $pad;
	z-index: 10000000;
	height: 100%;
	width: calc(100% - 100px);
	pointer-events: none;
	mix-blend-mode: multiply;
	div{
		position: relative;
		float: left;
		top:0;
		background: paleGreen;
		width: calc(10% - 20px);
		height: 100%;
		margin-right: $pad/3;
	}
	&.hide{display: none;}
	@include breakpoint(tablet){
		width: calc(100% - 10px);
		left:15px;
	}
}
#wrapper{
	@extend %clearfix;
	position: relative;
	#header-spacer{
		width: 100%;
		height: $pad*3;
		//display: none;
		&.small{
			height: $pad*2;
		}
		@include breakpoint(tablet){
			height: $pad;	
		}
	}
	&.alert-shown{
		#header-spacer{
			height: $pad*4;
			&.small{
				height: $pad*2;
			}

		}		
		@include breakpoint(tablet){
			#header-spacer{
				height: $pad;
			}
		}
	}
}
header.global{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 10000;
	nav.global{
		position: relative;
		padding: 0 $pad $pad/2;
		z-index: 100;
		transition: transform .5s $ease;
		@include clearfix;
		a{
			h1{
				// line-height: $pad/2;
				text-transform: uppercase;
				text-decoration: none;
				// font-weight: 500;
				// font-size: 2rem;
				// letter-spacing: 0.075rem;
				color: black;		
				display: inline-block;
				transition: color 1s $ease;
				position: relative;
			}
		}	
		ul.main{
			position: relative;
			margin-top: $pad;
			li{
				float: left;
				margin-right: $pad/2;
				&:last-child {
					margin-right: 0;
				}
				a{
					line-height: $pad/2;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: 600; //de 500 a 600
					font-size: 0.8rem;
					letter-spacing: 0.075rem;
					color: black;		
					display: inline-block;
					transition: color 1s $ease;
					position: relative;
					&:after{
						content:'';
						position: absolute;
						top:100%;
						height: 1px;
						background: black;
						width: 100%;
						left:50%;
						transform: translateX(-50%) scaleX(0);
						transition: transform 0.5s $ease, background 1s $ease;
					}
					&:hover{
						opacity: 1;
						&:after{
							transition: transform .5s $ease .2s;
							transform: translateX(-50%) scaleX(1);
						}
					}						
				}
				&.last{
					margin-right: $pad/3;
				}
			}
			&.left{
				float: left;
				li{
					margin-right: $pad/2.5;
				}
			}
			&.right{
				float: right;
				margin-left: 0;
			}
		}
	}
	.logo{
		position: absolute;
		left:50%;
		z-index: 100;
		bottom:$pad*0.75;
		transform:translateX(-50%);
		color: black;
		span{
			position: absolute;
			top:100%;
			left:0;
			width: 100%;
			margin-top: 0.5rem;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 0.66rem;
			transition: color 1s $ease;
		}
	}
	#alert{
		background: black;
		color: white;
		position: relative;
		float: none;
		width: 100%;
		z-index: 1000;
		max-height: $pad*1.25;
		height: $pad*1.25;
		overflow: hidden;
		text-align: center;
		p{
			padding: $pad/2 $pad $pad/2 $pad;
			transition: opacity 0.3s $ease;
			span{opacity: 0.8;}
		}
		.icon{
			position: absolute;
			top:50%;
			right:$pad;
			transform: translateY(-50%);
			cursor: pointer;
		}
		strong{font-weight: bold;}
		a{
			color: white;
			&:hover{text-decoration: none;}
		}
		&.closed{
			display: none;
			p{opacity: 0;}
		}
		@include breakpoint(tablet){
			display: none;
		}
	}
	.veil{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		max-height: 0px;
		z-index: 1;
		background: white;
		transition: transform 0.5s $ease;
		will-change: max-height, transform, box-shadow;
		transition: transform .5s $ease, box-shadow .25s $ease;
		box-shadow: 0 0 20px rgba(0,0,0,0);
	}
	&.sticky{
		nav.global{
			transform:translateY(-$pad/2);
		}
		.veil{
			max-height: $pad*2;
			transform:translateY(-$pad/2);
			box-shadow: 0 0 20px rgba(0,0,0,0.1);
		}
		&.invert{
			.veil{
				max-height: $pad*2;
				background: white;
			}
			nav.global{
				ul.main{
					li a{
						color: black;
					}
				}
				#search{
					.icon{
						color: black;
					}
				}
			}
			.logo{
				svg{
					.logo-fill{
						fill: black;
					}
				}
				span{
					color: black;
				}
			}
		}		
	}
	.drop{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		z-index: 10;
		background: #fcfbf9;
		overflow: hidden;
		@include clearfix;
		transform: translateY(-100%);
		transition: transform .5s $ease .5s;
		.container{
			background: #fcfbf9;
			padding-bottom: $pad;
			@include clearfix;
			&.left{float: left;}
			&.right{float: right;}
			&.white{background: #fcfbf9;}
			&.gray{background: #f3f2f1;}
			&.first{padding-left: $pad;}
			&.last{padding-right: $pad;}
			ul li a{
				color: black;
				text-transform: uppercase;
				margin-bottom: $pad/3;
				display: inline-block;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0.1rem;
				font-size: 0.8rem;
				font-weight: 400;
			}
			.menu-item-has-children{
				float: left;
				width: 50%;
				li{
					a{
						opacity: 1;
						transition: opacity .5s $ease;
						&:hover{opacity: .6;}
					}
				}
			}
			ul li ul a{
				text-transform: none;
				margin-bottom: $pad/6;
				font-size: 1rem;
				letter-spacing: 0;
				font-weight: 200;
			}
		}
		&#shop{
			.container{
				overflow: hidden;
				&.left{
					width:calc(30% + 10px);
					transform: translateX(-50%);
					opacity: 0;
					transition: transform .5s $ease, opacity .5s $ease;
					ul{
						padding-top: $pad/2;
						ul{padding-top: 0;}
					}
				}
				&.right{
					width:calc(70% - 10px);
					padding-left: $pad;		
					figure.card{
						margin-top: $pad/2;
						opacity: 0;
						transform: translateY($pad/2);
						transition: transform .5s $ease, opacity .5s $ease;
					}		
				}
			}
		}
		&.shown{
			transition: transform .6s $ease;
			transform: translateY(-0%);
			&#shop{
				.container{
					&.left{
						transform: translateX(0%);
						opacity: 1;
						transition: transform .5s $ease .5s, opacity .5s $ease .5s;
					}
					&.right{
						figure.card{
							opacity: 1;
							transform: translateY(0);
							transition: transform .5s $ease .5s, opacity .5s $ease .5s;
						}
					}
				}
			}
		}
		&#search-form{
			z-index: 1000;
			min-height: 33.33vh;	
			padding-bottom: $pad*2;
			text-align: center;
			.icon-cancel{
				position: absolute;
				right:110px;
				transform: translateY(-55px);
				cursor: pointer;
			}
			form{
				position: relative;
				margin: $pad auto;
				width: 66.66%;
				font-size: 1rem;
				input[type="text"]{
					background: none;
					border:none;
					border-radius: 0;
					border-bottom: 1px solid black;
					font-size: 1rem;
					line-height: 1.5;
					font-family: $sans;
					padding-left: $pad/2;
					appearance: none;
					width: 100%;
				}
				input[type=submit]{
					display: none;
				}
				.icon{
					position: absolute;
					left:0;
					top:50%;
					cursor: pointer;
					
					transform: translateY(-60%);
				}
			}	
			aside{
				font-size: 2.5rem;
			}
			.label.title{
				display: block;
				width: 100%;
				text-align: center;
				margin-bottom: $pad/3;
			}
			a{
				text-decoration: none;
				//font-weight: bold;
				color: black;
				font-family: $serif;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	#mobile-toggle{
		position: absolute;
		height: $pad;
		top:0;
		left:$pad/4;
		color: white;
		font-size: 2rem;
		display: none;
		.icon{
			position: absolute;
			top:50%;
			left:0;
			transform:translateY(-50%);
			&.icon-cancel{
				opacity: 0;
			}
			&:before{
			    margin: 0;
			    text-align: left;
			}
		}
	}
	#mobile-menu{
		display: none;
		width: 100%;
		position: absolute;
		top:0;
		margin-top:$pad;
		height: calc(100vh - #{$pad});
		left:0;
		background: rgba(255,255,255,0.9);
		max-height: 0px;
		overflow: hidden;
		transition: max-height .5s $ease;
		.hide-mobile{
			display: none;
		}
		ul{
			li{
				a{
					border-bottom: 1px solid #ccc;

				}
				&.no-border a{
					border-bottom: none;
				}
				> a{
					text-transform: uppercase;
					padding: $pad/2 $pad/4;
				}
				&.parent{
					position: relative;
					>a{
						text-transform: uppercase;
						position: relative;
						&:before {
							content: '\e816';
							font-family: "fontello";
							font-style: normal;
							font-weight: normal;
							speak: none;
							display: inline-block;
							text-decoration: inherit;
							width: 1em;
							margin-right: 0;
							text-align: right;
							font-variant: normal;
							text-transform: none;
							line-height: 1;
							margin-left: 0;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							position: absolute;
							top:50%;
							right:15px;
							transform: translateY(-50%);
						}
					}
					> ul{
						background: #eee;
						max-height: 0px;
						overflow: hidden;
						position: relative;
						&.sub-menu{
							li a{
								text-transform: none;
								padding: $pad/2 $pad/2;
							}
						}
						li:not(.menu-item-has-children){
							a{
								text-transform: none;
								padding: $pad/2 $pad/2;
							}
						}
						.menu-item-has-children{
							position: relative;
							> a{
								position: relative;
								border-bottom: 1px solid #ccc;
								padding: $pad/2 $pad/2;
								&:before {
									content: '\e816';
									font-family: "fontello";
									font-style: normal;
									font-weight: normal;
									speak: none;
									display: inline-block;
									text-decoration: inherit;
									width: 1em;
									margin-right: 0;
									text-align: right;
									font-variant: normal;
									text-transform: none;
									line-height: 1;
									margin-left: 0;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									position: absolute;
									top:50%;
									right:15px;
									transform: translateY(-50%);
								}
							}
							ul{
								li a{
									text-transform: none;
									padding: $pad/2 $pad;
								}
							}							
							.sub-menu{
								position: relative;
								overflow: hidden;
								max-height: 0px;
							}
							&.expand{
								> a{
									&:before{
										transform: translateY(-50%) rotate(180deg);
									}
								}
								.sub-menu{
									max-height: 100%;
								}
							}
						}

					}	
					&.expand{
						> a{
							&:before{
								transform: translateY(-50%) rotate(180deg);
							}
						}
						> ul{
							max-height: 100%;
						}
					}				
				}
				a{
					//padding: $pad/2 $pad/2;
					font-size: 1rem;
					color: black;
					text-decoration: none;
					display: block;
				}
				form{
					position: relative;
					padding: $pad/2 $pad/4;
					width: 100%;
					font-size: 1rem;
					input[type="text"]{
						background: none;
						border:none;
						border-radius: 0;
						border-bottom: 1px solid black;
						font-size: 1rem;
						line-height: 1.5;
						font-family: $sans;
						padding-left: $pad/2;
						appearance: none;
						width: 100%;
					}
					input[type=submit]{
						display: none;
					}
					.icon{
						position: absolute;
						left:$pad/4;
						top:50%;
						cursor: pointer;
						font-size: 1.5rem;
						transform: translateY(-50%);
						padding-bottom: $pad/6;
						&:before{
							margin:0;
							text-align: left;
						}
					}
				}
			}
		}
	}
	@include breakpoint(tablet){
		#mobile-toggle,
		#mobile-menu{
			display: block;
		}
		-webkit-backdrop-filter: brightness(1.5) blur(4px);
		backdrop-filter: brightness(1.5) blur(4px);	
		nav.global{
			background: rgba(0,0,0,0.8);
			padding: 0;
			color: white;
			height: $pad;
			.logo{
				position: absolute;
				left:50%;
				z-index: 100;
				height: $pad/4;
				top:50%;
				transform:translateX(-50%) translateY(-50%);
				color: white;
				svg{
					height: $pad/4;
					width: auto;
					.logo-fill{
						fill: white;
						transition: fill 1s $ease;
					}
				}
				span{
					display: none;
				}
			}
			ul.main{
				margin-top:0;
				display: none;
				&.right{
					display: block;
					top:$pad/4;
					right:$pad/4;
					position: absolute;
					li:not(#cart){
						display: none;
					}
					li#cart{
						color: black;
					}
				}
			}
		}
		.veil{
			display: none;
		}
		&.sticky{
			nav.global{
				transform:translateY(0);
			}			
		}
	}	
}
.show-mobile-menu{
	@include breakpoint(tablet){
		header.global #mobile-toggle{
			.icon{
				&.icon-menu{
					opacity: 0;
				}
				&.icon-cancel{
					opacity: 1;
				}
			}
		}		
		header.global #mobile-menu{
			transition: max-height 1s $ease;
			max-height: calc(100vh - #{$pad});
		}
	}
}
.invert-nav{
	header.global{
		nav.global{
			ul.main {
				li{
					a,.icon{
						color: white;
						&:after{
							background: white;
						}
					}
				}
			}
			.logo{
				span{
					color: white;
				}
				svg .logo-fill{
					fill: white;
				}
			}	
		}
		.veil{
			background: black;
		}
	}
	&.show-drop{
		header.global{
			nav.global{
				ul.main {
					li{
						a,.icon{
							color: black;
							&:after{
								background: black;
							}
						}
					}
				}
				.logo{
					span{
						color: black;
					}
					svg *{
						fill: black;
					}
				}	
			}
			.veil{
				//background: white;
			}
		}		
	}
}
.veil.full{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: 6000;
	background: black;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: .5s $ease .5s;
}
.show-drop{
	.veil.full{
		opacity: 0.75;
		visibility: visible;
		transition: .5s $ease;
	}
}
.show-minicart{
	.veil.full{
		opacity: 0;
		visibility: visible;
		pointer-events: all;
		
	}
}
footer.global{
	padding: $pad*1.5 $pad $pad*2;
	float: left;
	clear: both;
	width: 100%;
	background: white;
	#newsletter{
		width: 100%;
		height: $pad*1.25;
		background: #4b4b4a;
		margin:0 0 $pad*2;
		overflow: hidden;
		padding: 0 $pad/2;
		position: relative;
		font-size: 0.9rem;
		div{
			height: $pad*1.25;
			width: 100%;
			color: white;
			top:100%;
			left:0;
			overflow: hidden;
			position: absolute;
			transition: $slow $ease;
		}
		span.response{
			display: none;
			position: absolute;
			left:$pad/2;
			top:50%;
			color: #b6b6b6;
			transform: translateY(-50%);
		}
		#newsletter-cover{
			p{
				position: absolute;
				left:$pad/2;
				top:50%;
				color: #b6b6b6;
				transform: translateY(-50%);
				span{
					color: white;
				}
			}
		}
		#newsletter-form{
			background: black;
			input[type=email]{
				position: absolute;
				top:0;
				left:0;
				border: none;
				padding: 0 $pad/2;
				width: 100%;
				background: transparent;
				line-height: $pad*1.25;
				font-family: $sans;
				font-size: 100%;
				color: white;
				background: none;
				border:none;
				font-size: 0.9rem;
				border-radius: 0;
				@include placeholder{
					color: white;
				}				
			}
			input[type=submit]{
				position: absolute;
				right:$pad/2;
				top:50%;
				transform: translateY(-50%);
				background: black;
				line-height: $pad*1.25;
				color: white;
				font-size: 0.9rem;
				border:none;
				cursor: pointer;
				z-index: 1000;
				margin: 0;
				padding: 0;
				&:disabled{
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
		}
		#newsletter-join-btn{
			position: absolute;
			right:$pad/2;
			top:50%;
			cursor: pointer;
			transform: translateY(-50%);
			color: white;
		}
		&.default{
			cursor: pointer;
			#newsletter-cover{
				top:0;
			}
		}
		&.form{
			#newsletter-cover{
				top:-100%;
			}
			#newsletter-form{
				top:0;
			}
		}
		&.response{
			cursor: n-resize;
			#newsletter-cover{
				top:-100%;
			}
			#newsletter-form{
				top:-100%;
			}
			#newsletter-response{
				top:0!important;
			}
			&.success{
				span.response.success{
					display: block;
				}
			}
			&.error{
				span.response.error{
					display: block;
				}
			}
		}
		@include breakpoint(tablet){
			text-align: center;	
			height: auto;
			background:none;
			div{
				position: relative;
				top:0;
				height:  auto;
			}
			#newsletter-join-btn{
				display: none;
			}
			#newsletter-cover{
				
				p{	
					padding:$pad/3;
					position: relative;
					text-align: center;
					transform: none;
					top:auto;
					left:auto;
					color: black;
					span{
						color: black;
					}
				}
			}
			#newsletter-form{
				background: none;
				input[type=email],
				input[type=submit]{
					line-height: $pad;
					position: relative;
				}
				input[type=email]{
					text-align: center;
					background: black;
				}
				input[type=submit]{
					right: auto;
					top:auto;	
					display: inline-block;
					background: none;
					margin-top: $pad/3;
					color:black;
				}
			}
			&.default{
				cursor: pointer;
				#newsletter-cover{
					top:0;
				}
				#newsletter-form{
					top:0;
				}
			}
			&.form{
				#newsletter-cover{
					top:0;
				}
				#newsletter-form{
					top:0;
				}
			}			
		}
	}
	nav.global{
		width: 61%;
		float: left;
		padding-bottom: $pad*2;
		ul.main{
			li{
				float: left;
				width: calc(25% - #{$pad});
				margin-right: $pad;
				a{
					text-decoration: none;
					color: black;
					font-size: 0.9rem;
					text-transform: uppercase;
					margin-bottom: $pad/3;
					display: inline-block;
					&:hover{
						color: #888888;
					}
				}
				ul{
					width: 100%;
					li{
						margin-right: 0;
						width: 100%;
						a{
							color: #888888;
							text-transform: none;
							line-height: 1.5;
							&:hover{
								color: black;
							}
						}
					}
				}
			}
		}
		@include breakpoint(tablet){
			display: none;
		}
	}
	nav.esquerra{  /* nou */
		width: 35%;
		float: left;
		padding-bottom: $pad*2;
		ul.main{
			li{
				float: right;
				width: calc(25% - #{$pad});
				margin-left: $pad;
				a{
					text-decoration: none;
					color: black;
					font-size: 0.9rem;
					text-transform: uppercase;
					margin-bottom: $pad/3;
					display: inline-block;
					&:hover{
						color: #888888;
					}
				}
				ul{
					width: 100%;
					li{
						margin-left: 0;
						width: 100%;
						a{
							color: #888888;
							text-transform: none;
							line-height: 1.5;
							&:hover{
								color: black;
							}
						}
					}
				}
			}
		}
		@include breakpoint(tablet){
			display: none;
		}
	}
	// aside{
	// 	float: right;
	// 	width: 15%;
	// 	ul{
	// 		li{
	// 			margin-bottom: $pad/2;
	// 			font-size: 1.2rem;
	// 			line-height: 1.5;
	// 			span{
	// 				text-transform: uppercase;
	// 				font-size: 0.9rem;
	// 				display: inline-block;
	// 				letter-spacing: 1px;
	// 				color: #888888;
	// 			}
	// 			a{
	// 				text-decoration: none;
	// 				color: black;
	// 				transition: color $slow $ease;
	// 				&:hover{
	// 					color: #888888;
	// 				}
	// 				&.icon{
	// 					font-size: 1.5rem;
	// 					margin-right: $pad/2;
	// 				}
	// 			}
				
	// 		}
	// 	}
	// 	@include breakpoint(tablet){
	// 		width: 100%;
	// 		float: left;
	// 		clear: both;
	// 		text-align: center;
	// 		ul{
	// 			li{
	// 				&#gift-card-btn{
	// 					display: none;
	// 				}
	// 				a{
	// 					&.icon{
	// 						font-size: 1.5rem;
	// 						margin: 0 $pad/4;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	.logo{
		float: left;
		clear: both;
		position: relative;
		text-decoration: none;
		color: black;
		@extend %clearfix;
		// img{
		// 	height: $pad/3;
		// 	width: auto;
		// }
		span{
			margin-top: 0.5rem;
			display: inline-block;
			position: absolute;
			top:100%;
			left:0;
			width: 100%;
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 0.66rem;
		}		
		@include breakpoint(tablet){
			text-align: center;
			width: 100%;
			margin-top: $pad*2;
			img{
				height: $pad/4;
				width: auto;
			}
			span{
				text-align: center;
			}
		}
	}
	// #tagline{
	// 	float: right;
	// 	clear: right;
	// 	width: auto;
	// 	height: $pad/3;
	// 	opacity: 0.15;
	// 	@include breakpoint(tablet){
	// 		display: none;	
	// 	}
	// }
	#missatgeFooter{
		font-family: $serif;
		float: right;
		font-size: 2.5rem;
		letter-spacing: 0.1rem;
		opacity: 0.15;
		@include breakpoint(tablet){
			display: none;	
		}
	}
}
section{
	width: 100%;
	position: relative;
	float: left;
	clear: both;
	&.first{
		//padding-top: 120px;
	}
}
#site-loader{
	width: auto;
	height: $pad/3;
	opacity: 1;
	position: absolute;
	top:50vh;
	left:50vw;
	transform:translateY(-50%) translateX(-50%);
	z-index: -1;
	opacity: 0;
	transition: opacity 1s $ease .25s;
}

.leaving{
	#site-loader{
		opacity: .25;
		transition: opacity .25s $ease .25s;
	}
}	