@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Black.eot'); 
    src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/AvenirLTStd-Black.woff') format('woff'), 
         url('../fonts/AvenirLTStd-Black.ttf')  format('truetype'), 
         url('../fonts/AvenirLTStd-Black.svg#2d55e36446b90be6f85f84e74f83cb6c') format('svg'); 
    font-style:   bolder;
    font-weight:  700;
  }
  @font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.eot'); 
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/AvenirLTStd-Book.woff') format('woff'), 
         url('../fonts/AvenirLTStd-Book.ttf')  format('truetype'), 
         url('../fonts/AvenirLTStd-Book.svg#68ae522795537c9085762656931f5f55') format('svg'); 
         
    font-style:   normal;
    font-weight:  400;
  }
  @font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Medium.eot'); 
    src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/AvenirLTStd-Medium.woff') format('woff'), 
         url('../fonts/AvenirLTStd-Medium.ttf')  format('truetype'), 
         url('../fonts/AvenirLTStd-Medium.svg#ef669aafc9b550b465914779447af056') format('svg'); 
    font-style:   bold;
    font-weight:  500;
  }
  @font-face {
    font-family: 'Meta Serif';
    src: url('../fonts/MetaSerifOT-Book.eot'); 
    src: url('../fonts/MetaSerifOT-Book.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/MetaSerifOT-Book.woff') format('woff'), 
         url('../fonts/MetaSerifOT-Book.ttf')  format('truetype'), 
         url('../fonts/MetaSerifOT-Book.svg#a75b00d35e118916189a4edb2f8b70bc') format('svg'); 
    font-style:   normal;
    font-weight:  400;
  }
  @font-face {
    font-family: 'Meta Serif';
    src: url('../fonts/MetaSerifOT-BookItalic.eot'); 
    src: url('../fonts/MetaSerifOT-BookItalic.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/MetaSerifOT-BookItalic.woff') format('woff'), 
         url('../fonts/MetaSerifOT-BookItalic.ttf')  format('truetype'), 
         url('../fonts/MetaSerifOT-BookItalic.svg#abf88c61419e2717d9d417ebee47deac') format('svg'); 
    font-style:   italic;
    font-weight:  400;
  }
  $sans: 'Avenir', sans-serif;
  $serif: 'Meta Serif', sans-serif;
  html {
      font-family: $sans;
      font-size: 100%;
      line-height: 1.2;
      font-weight: 400;
      -webkit-font-smoothing: subpixel-antialiased;
      font-variant-ligatures: common-ligatures;
      font-size: 16px;
      @include breakpoint(large){font-size: 14px;}
      @include breakpoint(small){font-size: 12px;}
      @include breakpoint(tablet){font-size: 14px;}
      @include breakpoint(mobile){font-size: 12px;}
  }
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?30855956');
    src: url('../fonts/fontello.eot?30855956#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff2?30855956') format('woff2'),
         url('../fonts/fontello.woff?30855956') format('woff'),
         url('../fonts/fontello.ttf?30855956') format('truetype'),
         url('../fonts/fontello.svg?30855956#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  [class^="icon-"]:before, [class*=" icon-"]:before {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: .2em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .icon-down-thin:before { content: '\e800'; } 
  .icon-left-thin:before { content: '\e801'; } 
  .icon-right-thin:before { content: '\e802'; } 
  .icon-up-thin:before { content: '\e803'; } 
  .icon-left-dir:before { content: '\e804'; } 
  .icon-right-dir:before { content: '\e805'; } 
  .icon-up-dir:before { content: '\e806'; } 
  .icon-down-dir:before { content: '\e807'; } 
  .icon-search:before { content: '\e808'; } 
  .icon-dot:before { content: '\e809'; } 
  .icon-dot-2:before { content: '\e80a'; } 
  .icon-dot-3:before { content: '\e80b'; } 
  .icon-menu:before { content: '\e80c'; } 
  .icon-cancel:before { content: '\e80d'; } 
  .icon-cancel-circled:before { content: '\e80e'; } 
  .icon-cancel-squared:before { content: '\e80f'; } 
  .icon-plus:before { content: '\e810'; } 
  .icon-plus-circled:before { content: '\e811'; } 
  .icon-plus-squared:before { content: '\e812'; } 
  .icon-minus:before { content: '\e813'; } 
  .icon-minus-circled:before { content: '\e814'; } 
  .icon-minus-squared:before { content: '\e815'; } 
  .icon-down-open-big:before { content: '\e816'; } 
  .icon-left-open-big:before { content: '\e817'; } 
  .icon-right-open-big:before { content: '\e818'; } 
  .icon-up-open-big:before { content: '\e819'; } 
  .icon-play:before { content: '\e81a'; } 
  .icon-pause:before { content: '\e81b'; } 
  .icon-check:before { content: '\e81c'; } 
  .icon-attention:before { content: '\e81d'; } 
  .icon-instagram:before { content: '\f16d'; } 
  .icon-twitter:before { content: '\f309'; } 
  .icon-facebook:before { content: '\f30c'; } 
.cta{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: black;
    opacity: 0.8;
    position: relative;
    font-weight: 400;
    font-size: 0.9rem;
    transition: opacity 0.5s $ease;
    &:after{
        content:'';
        position: absolute;
        top:100%;
        margin-top: $pad/6;
        height: 1px;
        background: black;
        width: 100%;
        left:50%;
        transform: translateX(-50%) scaleX(0);
        transition: transform 0.5s $ease;
    }
    &:hover{
        opacity: 1;
        &:after{
            transition: transform .5s $ease .2s;
            transform: translateX(-50%) scaleX(1);
        }
    }
    &.white{
        opacity: 1;
        color: white;
        &:after{
            background: white;
        }
    }
    &.small{
        font-size: 0.7rem
    }
}
.button, .rc_label__autodeliver{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: white!important;
    background: black;
    opacity:1;
    font-size: 0.8rem;
    position: relative;
    padding: $pad/4!important;
    border:none;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance : none;
    appearance : none;
    border-radius: 0;
    cursor: pointer;
    margin-right: $pad/4;
    transition: background 0.25s $ease, color 0.25s $ease;
    &:hover{
        background: white;
        color: black!important;
        text-decoration: none;
    }
    &.transparent{
        background: rgba(255,255,255,0);
        color: black!important;
        &:hover{
            background: white!important;
        }
    }
    &.rc_label{
        background: rgba(255,255,255,1);
        color: black!important;
    }
}
.label{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    opacity: 0.9; 
    &.link{
        position: relative;
        &:after{
            content:'';
            position: absolute;
            top:100%;
            margin-top: $pad/6;
            height: 1px;
            background: black;
            width: 100%;
            left:50%;
            transform: translateX(-50%) scaleX(0);
            transition: transform 0.5s $ease;
        }
        &:hover{
            opacity: 1;
            &:after{
                transition: transform .5s $ease .2s;
                transform: translateX(-50%) scaleX(1);
            }
        }
    }
    a{
        color: black;
        &:hover{
            opacity: 0.8;
        }
    }
}
.note{
    text-transform: normal;
    text-decoration: none;
    line-height: 1.2;
    font-size: 0.8rem;
    opacity: 0.9;
}
.target{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1000;		
}
hgroup.standard{
    h1{
        font-family: $serif;
        //margin-top: $pad/4;
        font-size: 4rem;
        padding-bottom: $pad/4;
        line-height: 1;
        @include fluid-type(28px, 60px, 420px, 2400px);
        &.sequenced{
            line-height: .8;
        }
    }
    h2{
        font-family: $serif;
        margin-top: $pad/4;
        font-size: 2.5rem;
        line-height: 1;
        &.subhead{
            font-style: italic;
            padding-top: $pad/2;
            margin-top: $pad/2;
            position: relative;
            opacity: 0.7;
            font-size: 1.25rem;
            line-height: 1.5;
            font-weight: 300;
            padding-right: $pad/3;
            &:after{
                content:'';
                width: $pad*1.5;
                height: 1px;
                background: black;
                position: absolute;
                top:0;
                left:0;
                
            }
        }
    }
    h4{
        font-family: $serif;
        font-style: italic;
        //opacity: 0.7;
        margin-top: $pad/5;
        font-size: 1.15rem;
        line-height: 1.3;
        padding-right: $pad;
    }
    h5{
        font-family: $serif;
        //font-style: italic;
        //opacity: 0.7;
        //margin-top: $pad/5;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-top: $pad/5;
        //padding-right: $pad;
    }
    h3{
        font-family: $serif;
        margin-top: $pad/5;
        font-size: 2.25rem;
        line-height: 1;
    }
    p{
        margin-top: $pad/4;
        line-height: 1.5;
        strong{
            font-weight: bold;
        }
    }
    .times{
        margin: $pad/2 auto;
        width: 100%;
        @include clearfix;
        li{
            width: 50%;
            float: left;
            text-align: center;
            p{
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }
    }
    .cta{
        display: inline-block;
        margin-top: $pad/2;
        //font-size: 0.9rem;
    }
    &.centered{
        text-align: center;
        h1{
            margin: 0 auto;
        }
        h4{
            padding-right: 0;
        }
        p{
            margin: $pad/4 auto;
        }
    }
}
.select-wrap{
    margin-top: $pad/10;
    width:100%;
    margin-bottom: $pad/2;
    position: relative;
    select{
        font-weight: 600;
        font-size: 1rem;
        padding: 0;
        background: none;
        border:none;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance : none;
        appearance : none;
        text-transform: uppercase;
    }	
    &:after{
        
    }			
}